dist
node_modules
.idea
.nyc_output
coverage
.env
.DS_Store

# testing
/coverage

# next.js
.next

# misc
*.pem

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
